
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- main-slider -->
<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-left py-3">
            <div class="title-content">
                

            </div>
            
        </div>
    </div>
</div>
<!-- //bottom-grids -->
<!-- //banner-slider-->
<!-- //bottom-grids -->
<div class="w3l-bottom-grids">
    <div class="container-fluid px-0">
        <div class="bottomhny-grids-sec">
            <div class="bottomhny-1">
                <div class="bottomhny-gd-ingf">
                    <h4>Grupo: Los Apostoles de Cristo</h4>
                </div>
            </div>
            <div class="bottomhny-1 bottomhny-2">
                <div class="bottomhny-gd-ingf">
                    <h4>Desarrollo de Plataformas de Software </h4>
                </div>
            </div>
            <div class="bottomhny-1 bottomhny-1-img">
                <div class="bottomhny-gd-ingf">

                </div>
            </div>

        </div>
    </div>
</div>
<!-- //bottom-grids -->
<!-- /content-3-->
<!-- //content-3-->
<!-- /features-4 -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h3 class="hny-title">Nuestro grupo de trabajo</h3>
                <p>. </p>
                <h2 class="fea-para">Nuestro equipo esta conformado por estudiantes de 8vo semestre en la carrera de Ingenieria de Sistemas de la Universidad  Andina del Cusco</h2>
            </div>
            <div class="row features4-grids text-left mt-lg-3">
                <div class="col-lg-3 col-md-6 features4-grid mt-3">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h4>Almanza Cuno Jair Gonzalo</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="features4-rightinfo">
                            <h5><a href="#URL">Almanza Cuno Jair Gonzalo</a></h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-2"></div>
                                        <div class="ch-info-back">
                                            <h4>Condori Contreras Mike Marco</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Condori Contreras Mike Marco
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-3">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-3"></div>
                                        <div class="ch-info-back">
                                            <h4>Ninantay Halanoca Jesus Sergio</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Ninantay Halanoca Jesus Sergio
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row features4-grids text-left mt-lg-3">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-4">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-4"></div>
                                        <div class="ch-info-back">
                                            <h4>Puelles Uñuruco Gabriel Yoshwa</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Puelles Uñuruco Gabriel Yoshwa
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-5">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-5"></div>
                                        <div class="ch-info-back">
                                            <h4>Valle Ccorimanya Jhon Darwin</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Valle Ccorimanya Jhon Darwin
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 features4-grid mt-4 center">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-6 center">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-6"></div>
                                        <div class="ch-info-back">
                                            <h4>Villena Rojas Oscar Phool</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Villena Rojas Oscar Phool
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--//features-4 -->
<!-- /specification-6-->
<!-- /specification-6-->
<section class="w3l-pricing">
    <div class="py-5" id="pricing">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-5">
                <h6 class="sub-title">Encargados de la EPIS y docente del curso</h6>
                <h3 class="hny-title">La organizacion es:</h3>

            </div>
            <div class="row t-in">
                <div class="col-lg-4 col-md-6 price-main-info">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">Director</h4>
                            <h4 class="text-uppercase text-center mb-3">ESCUELA PROFESIONAL</h4>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Dr. Ing. Lornel Antonio Rivas Mago</li>
                                <li> <span class="fa fa-check"></span> lrivas@uandina.edu.pe</li>
                                <img src="~/assets/images/DIRECTOR.jpg" alt="" class="img-fluid">
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="btn btn-style btn-outline-primary"> Mas Informacion</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-md-0 mt-4">
                    <div class="price-inner card box-shadow active">

                        <div class="card-body">

                            <h4 class="text-uppercase text-center mb-3">DIRECTORA</h4>
                            <h4 class="text-uppercase text-center mb-3">Departamento Académico</h4>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Mgt. Ing. Ariadna Palomino Cahuaya</li>
                                <li> <span class="fa fa-check"></span> apalominoc@uandina.edu.pe</li>
                                <img src="~/assets/images/DIRECTORA.jpg" alt="" class="img-fluid">

                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="read-more">
                                    <a href="contact.html" class="btn btn-style btn-primary"> Mas Informacion</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-lg-0 mt-4">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">DOCENTE</h4>
                            <h4 class="text-uppercase text-center mb-3">Desarrollo de plataformas de software</h4>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Hugo Espetia Huamanga</li>

                                <img src="~/assets/images/PPP.jpg" alt="" class="img-fluid">

                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="btn btn-style btn-outline-primary">Mas Informacion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- middle -->
<!-- //middle -->
<!--//testimonials-->
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!--//-->
<script src="assets/js/theme-change.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
    $(document).ready(function () {
        $('.owl-testimonial').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })
</script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
