
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Practicantes &amp; <br>Convocatoria </h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="">Mas Información</a>
                                        <a href="#small-dialog" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>Requisitos</h6>
                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://www.youtube.com/watch?v=o6FSIz57NHI" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Practicantes &amp; <br>Convocatoria </h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="">Mas Información</a>
                                        <a href="#small-dialog" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>Requisitos</h6>
                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://player.vimeo.com/video/425349644" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Practicantes &amp; <br>Convocatoria </h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="">Mas Información</a>
                                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>Requisitos</h6>
                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://player.vimeo.com/video/425349644" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Practicantes &amp; <br>Convocatoria </h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="">Mas Información</a>
                                        <a href="#small-dialog3" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>Requisitos</h6>

                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://player.vimeo.com/video/425349644" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids -->
<!-- //banner-slider-->
<!-- //bottom-grids -->
<div class="w3l-bottom-grids">
    <div class="container-fluid px-0">
        <div class="bottomhny-grids-sec">
            <div class="bottomhny-1">
                <div class="bottomhny-gd-ingf">
                    <h4>Alta Calidad Demostrada en Nuestros Practicantes!!!!!!</h4>
                </div>
            </div>
            <div class="bottomhny-1 bottomhny-2">
                <div class="bottomhny-gd-ingf">
                    <h4>Mercado Laboral</h4>
                </div>
            </div>
            <div class="bottomhny-1 bottomhny-1-img">
                <div class="bottomhny-gd-ingf">

                </div>
            </div>

        </div>
    </div>
</div>
<!-- //bottom-grids -->
<!-- /content-3-->
<section class="w3l-content-3">
    <!-- /content-3-main-->
    <div class="content-3-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/assets/images/Imagen2.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-5">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Practicas Pre-Profesionales UAC</h6>
                        <h3 class="hny-title">
                            Prepárate
                            para el éxito!
                        </h3>
                    </div>
                    <p class="mt-3">
                        La Universidad Andina del Cusco imparte educación superior con excelencia académica. Con más de 35 años de experiencia,
                        nos consolidamos como la primera Universidad en la región Licenciada por la SUNEDU y con Acreditación Internacional. Sé parte de la UAC ¡la diferencia la haces tú!
                    </p>
                    <a href="about.html" class="btn btn-style btn-primary mt-md-5 mt-4">Mas Información</a>
                </div>
            </div>
        </div>
</section>
<!-- //content-3-->
<!-- /features-4 -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">PORQUE ELEGIR A NUESTROS PRACTICANTES</h6>
                <h3 class="hny-title">Ingenieria de Sistemas</h3>
                <p class="fea-para">La alta  competitividad demostrada en nuestros practicantes esta dando nuevas oportunidades a los nuevos alumnos que buscan PPP </p>
                <p class="fea-para">Teniendo en cuenta lo siguiente:</p>
            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-7">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-7"></div>
                                        <div class="ch-info-back">
                                            <h4>EFICACIA</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="features4-rightinfo">
                            <h5><a href="#URL">Alta Eficacia</a></h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-8">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-8"></div>
                                        <div class="ch-info-back">
                                            <h4>RESPONSABILIDAD</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Alumnos Responsables
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-9">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-9"></div>
                                        <div class="ch-info-back">
                                            <h4>COMPROMISO</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Alumnos Comprometidos con el Trabajo
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-10">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-10"></div>
                                        <div class="ch-info-back">
                                            <h4>Liderazgo</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Alumnos Lideres
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--//features-4 -->
<!-- /specification-6-->
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids">
                <div class="col-lg-10 story-gd pl-lg-4  text-center mx-auto">
                    <div class="title-content px-lg-5">
                        <h6 class="sub-title">Nuestra Organizacion</h6>
                        <h3 class="hny-title two">
                            El numero de Practicantes cada Semestre es mucho mayor  y
                            con este indice se va satisfaciendo las exigencias del mercado
                        </h3>

                    </div>
                    <div class="skill_info mt-5 pt-lg-4">
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">65</p>
                                    <h4>Convocatorias</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">80</p>
                                    <h4>Alumnos Postulados</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">200</p>
                                    <h4>Alumnos con PPP </h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">100</p>
                                    <h4>Logros</h4>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- /specification-6-->
<section class="w3l-pricing">
    <div class="py-5" id="pricing">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-5">
                <h6 class="sub-title">Encargados de la EPIS y de PPP</h6>
                <h3 class="hny-title">La organizacion es:</h3>

            </div>
            <div class="row t-in">
                <div class="col-lg-4 col-md-6 price-main-info">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">Director</h4>
                            <h4 class="text-uppercase text-center mb-3">ESCUELA PROFESIONAL</h4>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Dr. Ing. Lornel Antonio Rivas Mago</li>
                                <li> <span class="fa fa-check"></span> lrivas@uandina.edu.pe</li>
                                <img src="~/assets/images/DIRECTOR.jpg" alt="" class="img-fluid">
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="/Public/Contact" class="btn btn-style btn-outline-primary"> Mas Informacion</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-md-0 mt-4">
                    <div class="price-inner card box-shadow active">

                        <div class="card-body">

                            <h4 class="text-uppercase text-center mb-3">DIRECTORA</h4>
                            <h4 class="text-uppercase text-center mb-3">Departamento Académico</h4>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Mgt. Ing. Ariadna Palomino Cahuaya</li>
                                <li> <span class="fa fa-check"></span> apalominoc@uandina.edu.pe</li>
                                <img src="~/assets/images/DIRECTORA.jpg" alt="" class="img-fluid">

                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="read-more">
                                    <a href="/Public/Contact" class="btn btn-style btn-primary"> Mas Informacion</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-lg-0 mt-4">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">DOCENTE</h4>
                            <h4 class="text-uppercase text-center mb-3">ENCARGADO DE LAS PPP</h4>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Hugo Espetia Huamanga</li>

                                <img src="~/assets/images/PPP.jpg" alt="" class="img-fluid">

                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="/Public/Contact" class="btn btn-style btn-outline-primary">Mas Informacion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- middle -->
<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-left py-3">
            <div class="title-content">
                <h6 class="sub-title">LLAMENOS</h6>
                <h3 class="hny-title two mb-2">EL PODER ESTA EN UNO MISMO</h3>
                <p>
                    <a href="tel:+(21) 255 999 8899">
                        +(21)
                        255 999 8899
                    </a>
                </p>

            </div>
            <a href="services.html" class="btn btn-white mt-md-5 mt-4 mr-sm-2">Nuestros Servicios</a>
            <a href="contact.html" class="btn btn-white-active btn-primary mt-md-5 mt-4">Contactanos </a>
        </div>
    </div>
</div>
<!-- //middle -->
<!--//testimonials-->
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!--//-->
<script src="assets/js/theme-change.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
    $(document).ready(function () {
        $('.owl-testimonial').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })
</script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
